/*************************
		COLORS
**************************/
body {
	background-color: #FFFFFF;
}

header {
	background-color: #FFFFFF;	
}


/*******************************
		HEADER & NAVIGATION
********************************/
nav
{
	float: right;
	margin-top: 4px;
}


nav ul li {
	margin: 6px;
	display:inline-block;
}

nav ul  {
	padding-right: 6px;
	padding-top: 5px;
}

nav ul li a {
	text-decoration: none;
	color: #444444;
	font-size: 12.5px;
	font-family: sans-serif;
}
nav ul li img {
	width: 32px;
	height: 32px;
	margin-bottom: -11px;
}


nav ul li:nth-child(-n+3):hover {
	margin: 6px;
	text-decoration: underline;
}
 nav ul li:last-child
 {
 	background-color: #4285F4;
 	padding: 7px 20px;
 	border-radius: 3px;	
 	color: #FFFFFF;
 	text-align: center;
 	margin-right: 10px;

 }
  nav ul li:last-child a
 {
 	color: #FFFFFF;
 	font-weight: 600;
 	text-decoration: none;
 }

 nav ul li:last-child a:hover
 {
 	
 }
 nav ul li img
 {
 	opacity: .65;
 }

  nav ul li img:hover
 {
 	opacity: 1;
 }
 /*************************
		BODY
**************************/
.googleImg{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 80%;
	margin: auto;
	clear:both;
	max-height: 10%;

}
.googleImg img {
	position: center;
	width: 30%;
	margin-bottom: 12px;
	margin-left: auto;
	margin-top: 10%;
}

.googleLanguages  {
	display: inline-block;
	margin-top:45px;
	margin-left:auto;
	margin-right: auto;
	font-size: 13px;
	text-align: center;
	width: 100%;
	 }

.googleLanguages ul li a {
	text-decoration: none;
	color:#1122D4
}


.googleLanguages ul li a:hover {
	text-decoration: underline;
	/*color: */
}

.googleLanguages ul li {
	margin: 4px;
	display: inline-block;
	font-family: sans-serif; 
}

/*************************
		FOOTER
**************************/
footer 
{
	background-color: rgba(242,242,242,.7);
	height: 50px;
	width: 100%;
	border-top:1px solid #E4E4E4;
	position: absolute;
	bottom: 0;
}
.rightFoot
{
	float: right;
}

.leftFoot
 {
 	float: left;

}

footer li 
{
	display: inline-block;
	font-family:sans-serif;
	margin:10px;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
	color: rgb(102,102,102);
	text-decoration:none;
	font-size: 13px;
}

footer li a 
{
	text-decoration: none;
	color: #666666;

}
footer li :hover
{
	text-decoration: underline;
}

footer ul 
{
	padding-top:8px;
	padding-left: 20px;
	padding-right: 20px;
}

/*************************
		SEARCH INPUT
**************************/
input {
	display: block;
	margin-bottom: 25px;
	margin-left: auto;
	margin-right: auto;
	width: 40%;
	height: 27px;
	border: 1px solid lightgrey;
	text-align: left;
	background:url(../img/mic.jpg) no-repeat right;
	font-size: 15px;

}

.searchBar input:hover 
{
	border: 1px solid #B3B3B3 !important;

}
.searchBar input:focus

{
	border: 1px solid #4285F4 !important;
	box-shadow: none !important;
	outline: none;

}
/*************************
		SECTION BODY 
**************************/
.sectionBody {
	width: 100%;
	margin: auto;

}
/*************************
		NAVIGATION
**************************/
.searchBtn button {
	border:1px solid lightgrey;
	background:#F4F4F4;
	text-align: center;
	padding:7px 10px 7px 10px;
	font-family: Sans-serif;
	font-weight: 600;
	font-size: 11px;
	color: #444444;
	border-radius: 3px;
	margin-left: 10px;
	text-align: center;
}
.searchBtn button:hover
{
	box-shadow:0px 1px 0px  #888888;
}
.searchBtn  {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

